<!DOCTYPE>
<html ng-app="mandrill-app" ng-controller="MandrillCtrl as mandrill">

<head>
</head>

<body>
  <p>
    <a href="" ng-click="mandrill.sendEmail()">Send Email</a> to:
    <input type="email" id="toAddress" ng-model="mandrill.toAddress" />
  </p>

  <p>
    <ul>
      <li ng-repeat="message in mandrill.messages">
        <div>Sent to: {{message.msg.email}}</div>
        <div>Event status: {{message.event}}</div>
        <div>State: {{message.msg.state}}</div>
        <div>Tags: {{message.msg.tags}}</div>
        <div>Metadata: {{message.msg.metadata}}</div>
        <div>Timestamp: {{message.msg.ts * 1000 | date:'medium'}}</div>
      </li>
    </ul>
  </p>

  <script src="components/angular/angular.min.js"></script>
  <script src="socket.io/socket.io.js"></script>
  <script src="components/angular-socket-io/socket.min.js"></script>
  <script src="main.js"></script>
</body>

</html>
